@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body{
    margin: 0;
    padding: 0;
    background: #3a6186;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89253e, #3a6186); 
    

   
    
  
}


.container{
    width: 50%;
    margin: 4rem auto ;
    margin-bottom:6rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color:white;
}


input {
    border: 4px solid #00adb5;
    
    outline: none;
    padding-left: 15px;
    border-radius: 2rem;
    width:45vh;
    height: 10vh;
    
  }
  button {
    width:30vh;
    height: 10vh;
    outline: none;
    
    border: 4px solid #00adb5;
    border-radius: 2rem;
    
   font-size:1rem;
   
  }
button:hover{
  background-color:black;
  color:white;
  font-size:1rem;

}
  .result{
    margin: 30px auto;
    padding: 35px 50px 0;
    width:60vh;
    height:10vh;
    border-radius: 2rem;
    border: 4px solid #00adb5;
    background-color: black;
    color:white
  }

  a {
    
   
    background-color: #bc9ff3;
   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
  footer{
   
    background-color: rgba(12,12,12,0.7);
    margin: 0;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-top: 2px solid black;
    color:  white;
    text-align:center;
    margin-top:4rem;
    
    
  }
  
  
  .links{
    background-color: #bc9ff3;
    display:inline-block;
    padding-right:2.5rem;
    font-size:1.8rem;
    color:white;
  
  }

  